@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");

$mobileBreakpoint: 830px;
$blueAdmix: #157cc1;

* {
   font-family: "Roboto";

   &::-webkit-scrollbar {
      width: 0.5em;
   }

   &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 5px;
   }
}

html,
body {
   padding: 0;
   margin: 0;
   overflow-x: hidden;
}
@media only screen and (max-width: $mobileBreakpoint) {
   html,
   body {
      padding: 0;
      margin: 0;
      overflow-x: unset;
   }
}

body {
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   color: #383939;
   background: #fdfdfd;
   line-height: 1 !important;
}

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;

.hidden {
   display: none !important;
}

.cc {
   display: flex;
   align-items: center;
   justify-content: center;
}

.unselectable {
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /* Standard */
}

.text-truncate {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

a,
button {
   transition: all 0.4s ease-in-out 0s;
   text-decoration: none !important;
   text-overflow: ellipsis;
   overflow: hidden;

   &:hover {
      //   color: #fff !important;
      cursor: pointer;
   }
   &:visited {
      color: #fff !important;
   }
}

a:focus {
   outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 !important;
   font-weight: normal;
}

ul {
   padding: 0;
   margin: 0;
}

p {
   margin-top: 0;
}

h2 {
   font-size: 28px;
}

// Fonts Assignment
.ht {
   //header text
   font-family: "Roboto", sans-serif;
   // font-size: 18px;
   color: #000000;
}

.pt {
   //page title
   font-family: "Roboto Slab", sans-serif;
   // font-size: 30px;
   font-weight: bold;
   color: #4b44c5;
}

.st {
   //section title
   font-family: "Roboto Slab", sans-serif;
   // font-size: 14px;
   font-weight: bold;
   color: #000000;
}

.mb {
   //main body
   font-family: "Roboto", sans-serif;
   // font-size: 12px;
   font-weight: lighter;
   color: #a8afb9;
   letter-spacing: 1.2px;
}

.bt {
   //button text
   font-family: "Roboto", sans-serif;
   // font-size: 12px;
   font-weight: lighter;
   color: #a8afb9;
}

.lt {
   //link text
   font-family: "Roboto", sans-serif;
   // font-size: 12px;
   font-weight: lighter;
   color: #4b44c5;
}

/******************************************************/
/*********************ANIMATIONS***********************/
/******************************************************/

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.fadeIn {
   animation: fadeIn cubic-bezier(0.44, 0.26, 0.58, 0.82) 1.2s forwards;
}

@keyframes fadeOut {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
   }
}

.fadeOut {
   animation: fadeOut cubic-bezier(0.44, 0.26, 0.58, 0.82) 1.2s forwards;
}

@keyframes slideOutRight {
   from {
      transform: translate3d(0, 0, 0);
   }

   to {
      transform: translate3d(100%, 0, 0);
   }
}

.slideOutRight {
   animation: slideOutRight cubic-bezier(0.44, 0.26, 0.58, 0.82) 0.6s forwards;
}

@keyframes slideInRight {
   from {
      transform: translate3d(100%, 0, 0);
   }

   to {
      transform: translate3d(0, 0, 0);
   }
}

.slideInRight {
   animation: slideInRight cubic-bezier(0.44, 0.26, 0.58, 0.82) 0.6s forwards;
}

@keyframes slideOutLeft {
   from {
      transform: translate3d(0, 0, 0);
   }

   to {
      transform: translate3d(-100%, 0, 0);
   }
}

.slideOutLeft {
   animation: slideOutLeft cubic-bezier(0.44, 0.26, 0.58, 0.82) 0.6s forwards;
}

@keyframes slideInLeft {
   from {
      transform: translate3d(-100%, 0, 0);
   }

   to {
      transform: translate3d(0, 0, 0);
   }
}

.slideInLeft {
   animation: slideInLeft cubic-bezier(0.44, 0.26, 0.58, 0.82) 0.6s forwards;
}

@keyframes slideOutTop {
   from {
      transform: translate3d(0, 0, 0);
   }

   to {
      transform: translate3d(0, -100%, 0);
   }
}

.slideOutTop {
   animation: slideOutTop cubic-bezier(0.44, 0.26, 0.58, 0.82) 1.2s forwards;
}

@keyframes slideInTop {
   from {
      transform: translate3d(0, -100%, 0);
   }

   to {
      transform: translate3d(0, 0, 0);
   }
}

.slideInTop {
   animation: slideInTop cubic-bezier(0.44, 0.26, 0.58, 0.82) 1.2s forwards;
}

@keyframes feedback {
   0% {
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
   }

   50% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
   }

   100% {
      transform: translate3d(100%, 0, 0);
      opacity: 0;
   }
}

.feedback {
   animation: feedback cubic-bezier(0.01, 0.99, 1, 0.83) 2.2s forwards;
}

/******************************************************/
/***************ROOT CONTAINERS************************/
/******************************************************/

$sidesPadding: 3%;
$minWidth: 700px;

$arrowSize: calc(3px + 0.35vw);
$arrowColor: #4c4c4c;
$inputsFontSize: calc(0.45em + 0.3vw);

#headerMenu {
   position: fixed;
   height: 10vh;
   width: 100vw;
   min-width: $minWidth;
   z-index: 5;
   top: 0;
   padding: 1% $sidesPadding;
   margin: 0;
   box-shadow: 0 1px 3px #c9c9c9;
   min-height: 70px;
   background-color: #fff;

   .container {
      display: flex;
      height: 100%;
      padding: 0;
      margin: 0 auto;
      width: 100%;
      > div {
         height: 100%;
         margin: 0;
      }
      #logo-container {
         display: flex;
         width: 20%;
         z-index: 1;
         img {
            width: 8vw;
            max-width: 200px;
            min-width: 100px;
            // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            // filter: grayscale(100%);
         }
      }
      #steps-container {
         width: 55%;

         a {
            color: black;
            width: 15%;
            &:visited {
               color: black !important;
            }
            &:hover {
               color: #157cc1 !important;
            }
         }

         #steps-bar {
            height: 200%;
            width: 13%;
            border-bottom: solid 8px #2e6da4;
            position: absolute;
            transition: all 0.4s ease-in-out 0s;
            bottom: calc(1vh - 1.3vw);
            opacity: 0;
         }

         > div {
            display: flex;
            width: 100%;
            text-align: center;
            padding-top: 1%;
            i {
               padding: 0 5%;
            }
            > div {
               height: 100%;
               width: 25%;
               &:hover {
                  cursor: pointer;
               }
            }
         }
      }
      #dropdown-container {
         // @extend .cc;
         display: flex;
         align-items: center;
         flex-flow: row-reverse;
         width: 25%;
         text-align: right;
         position: relative;
         > img {
            width: 4vw;
            height: 4vw;
            border-radius: 100%;
            max-width: 50px;
            max-height: 50px;
            margin-right: 1.5vw;
         }

         button {
            border: 0;
            background-color: transparent;
         }

         .dropdown {
            display: flex;
            flex-flow: row-reverse;
            align-items: center;
            height: 100%;
            border: none;
            > button {
               padding: 0;
               &:focus {
                  border: none !important;
                  box-shadow: none;
               }
               span {
                  font-size: calc(0.35em + 0.8vw);
                  &::after {
                     font-size: calc(0.35em + 0.8vw);
                     &:hover {
                        color: #157cc1;
                     }
                  }
               }
            }
         }
         .dropdown-menu.show {
            transform: translate3d(0, -2vh, 0) !important;
            // border: 0;
            width: 120%;
            min-width: unset;
            a {
               font-size: 0.75em;
               font-size: calc(0.35em + 0.8vw);
               padding: 5% 20%;
               color: #292b2c !important;
            }

            .dropdown-item.active,
            .dropdown-item:active {
               background-color: unset;
            }
         }
      }
   }
}

#Page {
   height: 100vh;
   width: 100vw;
   min-width: $minWidth;
   background-color: #f2f2f2;
   position: absolute;
   top: 0;

   #content {
      margin-top: 10vh;
      height: 90vh;
      width: 100%;
      overflow: auto;
      font-size: calc(0.6em + 0.3vw);
      padding: 0;
   }
}

.btn-dark {
   background-color: #262626;
   color: #fff;
}

.step-container {
   padding: 2% 0%;

   .container {
      width: 100%;
      padding: 0;
      > h3 {
         padding: 2% 0;
         font-size: 1.6em;
      }
   }
}

.simple-container {
   > div {
      text-align: center;
      padding: 5% 2%;
      background-color: white;
      margin-top: 2%;
      border-radius: 10px;

      img {
         width: 6vw;
         padding: 1%;
      }

      h2 {
         padding-top: 2%;
         padding-bottom: 1.5%;
         color: #999;
         font-size: 1.3em;
      }

      h3 {
         padding-top: 0.5%;
         padding-bottom: 2.5%;
         font-size: 0.95em;
      }

      a {
         min-width: 200px;
         &:visited {
            color: #fff;
         }
      }
   }
}

.btn.btn-secondary,
.btn.btn-toggle {
   color: #000;
   &:hover {
      color: #204d74 !important;
      background-color: aliceblue !important;
   }
   &:focus {
      box-shadow: none;
   }
   &:active {
      background-color: aliceblue !important;
   }
}

.dropdown-item {
   &:hover {
      color: #000 !important;
   }
   &:active {
      color: #fff;
      background-color: #157cc1 !important;
   }
}

.info-box {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.65);
   color: #fff;
   padding: 6px;
   border-radius: 7px;
   text-align: center;
   word-wrap: break-word;
   z-index: 3;
   font-size: 0.7em;
   line-height: 1.5;
   left: -13vw;
   max-width: 150px;
}

.panel {
   position: absolute;
   height: 90vh;
   background-color: #fff;
   width: 20% !important;
   padding: 3%;
}

.menu-panel {
   .panel-toggle-btn {
      right: -3vw;
   }

   > .container {
      padding: 0;
      span {
         color: #5eb4ed;
         font-size: 1.3em;
      }
   }

   .btn-group {
      width: 100%;

      .dropdown-title {
         width: 90%;
      }

      .dropdown-menu.show {
         transform: translate3d(0, -1vh, 0px) !important;
         width: 100%;
         // border: none !important;
         box-shadow: none;
         &:focus {
            border: none !important;
            box-shadow: none;
         }

         a {
            font-size: 1rem;
            text-align: center;
         }
      }

      .btn {
         color: black;
      }
   }

   #happy-btn {
      position: relative;
      width: 100%;
      text-align: center;
      padding-top: 20%;

      .info-box {
         right: 0;
         width: 50%;
         left: 25%;
         bottom: -10vh;
      }

      h2 {
         font-size: 0.8em;
         padding-bottom: 5%;
      }

      a,
      .btn {
         width: 100%;
      }

      // #disabledBtnContainer {
      //   .btn {
      //     width: 100%;
      //   }
      // }
   }

   #go-back {
      transition: 0.9s;
      font-size: 0.8em;
      color: #157cc1;
      font-weight: bold;
      padding-bottom: 5%;
      span {
         font-size: 1.1em;
      }
      &:hover {
         cursor: pointer;
         letter-spacing: 1px;
      }
   }
   .menu-items {
      width: 100%;
   }
   .btn-light {
      width: 100%;
      margin: 1%;
   }
}

.menu-panel-vertical-cover {
   position: absolute;
   width: 100%;
   left: 0;
   background: white;
   top: 90vh;
   height: 100vh;
}

.btn-group {
   .btn {
      border: 0;
      background-color: aliceblue;
      margin: 0 2px;
   }
   .dropdown-toggle-split {
      border: 0;
      background-color: aliceblue;
      margin-left: 1px;
   }

   .dropdown-menu.show {
      width: 100%;
      a {
         padding: 4.5px;
         font-size: $inputsFontSize;
      }
   }
}

.WebGLScene {
   canvas {
      position: absolute;
      top: 0;
   }
}

.loading-img {
   filter: blur(3px);
}

.emoji-container {
   min-height: 6vw;
}

.arrowRight {
   &::after {
      content: "";
      position: absolute;
      border-top: $arrowSize solid transparent;
      border-bottom: $arrowSize solid transparent;
      border-right: $arrowSize solid transparent;
      border-left: $arrowSize solid $arrowColor;
   }
}

.arrowLeft {
   &::after {
      position: absolute;
      border-top: $arrowSize solid transparent;
      content: "";
      border-bottom: $arrowSize solid transparent;
      border-right: $arrowSize solid $arrowColor;
      border-left: $arrowSize solid transparent;
   }
}

.image-drop {
   display: flex;
   flex-direction: row;

   .dropzone {
      @extend .cc;
      position: relative;
      border-radius: 100% !important;
      border: solid 3px $blueAdmix;
      //   padding: 5%;
      background-color: white;
      max-width: 100px;
      max-height: 100px;
      font-weight: bolder;
      color: #999999;
      background-color: white;
      //   border: none !important;
      //   width: 7vw !important;
      //   height: 7vw !important;
      //   background-color: #b2b2b2;

      img {
         width: 7vw;
         height: 7vw;
         border-radius: 100%;
         max-width: 80px;
         max-height: 80px;
         padding: 10%;
      }

      svg {
         color: $blueAdmix;
         position: absolute;
         bottom: 0;
         font-size: 1.5em;
         right: 0;
         background: white;
         padding: 4%;
         border-radius: 100%;
      }

      &:hover {
         svg {
            color: white;
            background: $blueAdmix;
            transition: 0.5s;
         }
         cursor: pointer;
         //  background-color: #999999;
      }
   }

   .image-uploaded {
      @extend .cc;
      padding-left: 25%;
   }
}

.filter-container {
   background: white;
   padding: 1%;
   margin: 2% 0;
   border-radius: 5px;

   hr {
      margin-bottom: 0;
   }

   svg {
      font-size: 2em;

      &:hover {
         cursor: pointer;
      }
   }

   > div {
      &:not(:first-child) {
         margin-top: 2%;
      }
   }

   .filter-header {
      display: flex;
      align-items: center;
      position: relative;

      > div {
         &:not(:first-child) {
            float: right;
            position: absolute;
         }
      }
      #plus {
         right: 5%;
         color: #3ad07f;
      }

      #go {
         right: 0%;
         color: #5077e1;
      }
   }

   .filter {
      position: relative;
      display: flex;
      // justify-content: space-evenly;
      align-items: center;
      width: 100%;

      span {
         font-size: 0.8em;
      }

      input,
      select {
         margin-top: 6px;
      }

      > div {
         &:not(:first-child) {
            padding-left: 2%;
         }
      }

      .trash {
         margin-left: auto;
         color: red;
      }
   }
}

.webglControls {
   position: absolute;
   width: 100%;
   left: 0;
   bottom: 5%;
   padding: 7%;

   div {
      display: flex;
   }

   img,
   svg {
      height: 9vh;
      width: 9vh;
      max-width: 50px;
      max-height: 50px;
      color: #9a9a9a;
   }

   > div {
      flex-flow: column;

      &:nth-child(2) {
         flex-flow: column;

         > div {
            > div {
               @extend .cc;
               width: 25%;
               padding: 0 2%;
               font-size: 0.7em;
               font-weight: bold;
            }
         }
      }
   }
}

/******************************************************/
/***********************LOGIN**************************/
/******************************************************/

#login {
   height: 100%;
   width: 100%;
   background: url(./assets/img/VRHeadset.png) top center no-repeat;
   background-size: cover;

   > span {
      @extend .cc;
      height: 100%;
      width: 100%;
      .inputs-container {
         display: flex;
         flex-flow: column;
         text-align: center;
         width: 50%;
         // height: 70%;
         border-radius: 10px;
         background-color: rgba(255, 255, 255, 0.85);
         padding: 2%;

         > div {
            width: 100%;
         }

         .inputs-header {
            padding: 3%;
            h3 {
               font-size: 2em;
            }
         }

         .inputs {
            display: flex;
            text-align: center;
            flex-flow: column;
            padding: 0 10%;

            input {
               width: 100%;
               margin: 2vh 0;
            }

            svg {
               position: absolute;
               bottom: 40%;
               right: 5%;
               transition: 0.3s;
               &:hover {
                  font-size: 1.2em;
                  color: $blueAdmix;
                  bottom: 35%;
               }
            }

            .userPass {
               position: relative;
            }
         }

         .login-btn {
            padding: 5% 5% 2% 5%;
            text-align: center;
            button {
               color: #fff;
               width: 60%;
            }
         }

         #lost-pass-text {
            padding: 2vh 0 1vh;
         }

         .separator-container {
            @extend .cc;
            padding: 3vh 0 5vh;
            .separator {
               border-bottom: dotted black 3px;
               width: 15%;
            }
         }

         .register {
            font-family: "Roboto";
            font-size: 1.1em;
            font-weight: bold;
         }
      }
   }

   .login-white-bg {
      .header {
         background-color: transparent;
         padding-top: 5%;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;

         h1 {
            color: #000;
         }

         button {
            @extend .btn-dark;
         }
      }
   }

   #passRules {
      font-size: 0.8em;
      color: $grey-text;
      text-align: left;
   }
}

/******************************************************/
/***********************APPS***************************/
/******************************************************/

#apps {
   > .container {
      padding: 0 $sidesPadding;

      #apps-myApps {
         display: flex;
         position: relative;
         align-items: center;
         padding: 1% 0;

         button {
            position: absolute;
            right: 0;
         }

         #filter {
            position: absolute;
            left: 125px;
            margin-top: 2px;

            &:hover {
               cursor: pointer;
            }
         }
      }

      #apps-list {
         // padding: 5% 0;

         > div {
            @extend .cc;
         }

         .app-select-container {
            display: flex;
            box-shadow: 0px 5px 20px -9px #888888;
            padding: 1%;
            margin: 1.5% 0;
            border-radius: 10px;
            background-color: #fff;
            max-height: 80px;

            .engine-logo {
               width: 5%;
               padding-right: 5px;
               img {
                  padding: 15%;
                  background-color: #d9d9d9;
                  border-radius: 100%;
                  -webkit-filter: invert(1);
                  width: 100%;
                  max-width: 60px;
                  filter: invert(1);
               }
            }

            .app-name {
               @extend .text-truncate;
               width: 25%;
               padding: 0 2%;
               color: black;
            }

            .app-status {
               width: 30%;
               border-right: dotted 3px #b2b2b2;
               padding-left: 10%;

               .active-switch {
                  margin: 0;
                  display: flex;

                  .switch {
                     margin: 0;
                     height: 22px;

                     .slider {
                        margin: 0;
                        &::before {
                           height: 19px;
                           width: 19px;
                        }
                     }
                  }

                  > span {
                     display: flex;
                     align-items: center;
                     margin: 0;
                     padding-left: 20px;
                     font-size: 0.7em;
                  }
               }
            }

            .app-buttons {
               width: 40%;
               display: flex;
               justify-content: flex-end;
               position: relative;
               padding: 1%;

               .info-box {
                  top: -100%;
                  left: unset;
                  right: 0.1vh;
                  max-width: 130px;
                  height: 80%;
                  &::after {
                     content: "";
                     position: absolute;
                     border-top: 0.85em solid;
                     border-right: 0.85em solid transparent;
                     border-left: 0.85em solid transparent;
                     bottom: -20%;
                     color: rgba(0, 0, 0, 0.65);
                     left: 43%;
                  }
               }

               button {
                  margin: 0 5%;
                  font-size: calc(0.8em + 0.2vw);
                  // min-height: 40px;
                  min-width: 80px;
               }
            }
         }
      }

      #no-apps {
         text-align: center;
         background-color: #fff;
         border-radius: 10px;
         margin-top: 3%;
         padding: 4%;

         img {
            width: 45px;
         }

         h3,
         h2 {
            padding: 1.2%;
         }

         h3 {
            font-size: 1.3em;
            color: #a8afb9;
         }
         h2 {
            font-size: 0.8em;
         }
      }
   }
}

/******************************************************/
/***********************SCENE**************************/
/******************************************************/

#webgl {
   min-height: 100%;
   height: 100%;
   width: 100vw;

   #scene-loading {
      position: absolute;
      text-align: center;
      bottom: 10vh;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 7vh;
      width: 20vw;
      z-index: 2;
      color: white;
      font-weight: bold;
      font-size: 1.2em;
      letter-spacing: 1px;
   }

   .panel-toggle-btn {
      position: absolute;
      width: 4vw;
      top: calc(3% + 2.5vw);
      background-color: transparent;
      &:hover {
         cursor: pointer;
      }
      &::after {
         content: "";
         position: absolute;
         border-top: $arrowSize solid transparent;
         border-bottom: $arrowSize solid transparent;
      }
   }

   .panel-toggle-btn.left {
      &::after {
         border-right: $arrowSize solid $arrowColor;
         border-left: $arrowSize solid transparent;
      }
   }

   .panel-toggle-btn.right {
      &::after {
         border-right: $arrowSize solid transparent;
         border-left: $arrowSize solid $arrowColor;
      }
   }

   #instructions-panel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 75vh;
      width: 30vw;
      background-color: #f2f2f2;
      font-size: 0.9em;
      z-index: 1;

      .container {
         overflow: auto;
         height: 95%;
      }

      h3 {
         font-weight: bold;
         padding: 1%;
      }

      #instructions-toggle-btn {
         position: absolute;
         // font-size: .75em;
         bottom: -6vh;
         width: 100%;
         padding: 0.5%;
         height: 6vh;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
         color: #fff;
         background-color: #157cc1;
         margin: auto;
         left: 0;
         &:hover {
            cursor: pointer;
            background-color: #204d74;
         }
      }
   }

   .closed {
      transform: translate3d(100%, 0, 0);
   }

   #form-panel {
      right: 0;

      .panel-toggle-btn {
         left: -3vw;
      }

      hr {
         width: 50%;
      }

      span {
         font-size: 0.6em;
      }

      #form-panel-inputs {
         padding-top: 5%;

         #inputs-container {
            // overflow-y: hidden;
            font-size: $inputsFontSize;

            > .column {
               flex-flow: column;
               > div {
                  width: 100% !important;
               }
               .btn-group {
                  max-height: 50px;
                  padding: 1% 0;

                  .dropdown-toggle {
                     display: flex;
                  }
               }
            }

            .input-container {
               display: flex;
               position: relative;
               padding: 4% 1%;
               // font-size: .8em;

               > div {
                  padding: 1%;
                  width: 50%;
               }

               #input-placement-name {
                  @extend .text-truncate;
                  // font-size: .85em;
                  // word-wrap: break-word;
               }

               #form-panel-active-switch {
                  display: flex;
                  justify-content: left;
                  align-items: center;
                  .active-switch.clearfix {
                     height: 100%;
                     .switch {
                        height: 100%;
                        .slider {
                           padding: 0;
                           &::before {
                              height: calc(6px + 0.8vw) !important;
                              width: calc(6px + 0.8vw) !important;
                           }
                        }
                     }
                  }
               }

               .question-icon {
                  position: absolute;
                  left: -10%;
                  top: 10%;
                  width: unset !important;
                  font-size: 1rem;
                  &:hover {
                     cursor: help;
                  }
               }

               .input-title {
                  font-weight: 500;
                  font-size: calc(0.45em + 0.5vw);
               }

               .active-prop {
                  display: flex;
                  align-items: center;
               }

               .active-switch {
                  margin: 0;
                  .switch {
                     margin: 0;
                     .slider {
                        margin: 0;
                     }
                  }
               }

               .btn-group {
                  width: 100%;
                  .btn {
                     color: black;
                     font-size: calc(0.75em + 0.3vw);
                     &:hover {
                        color: red;
                     }
                  }
                  .btn-name {
                     width: 80%;
                  }
                  .dropdown-toggle {
                     width: 20%;
                     justify-content: center;
                  }
                  .dropdown-menu.show {
                     transform: translate3d(0, -1vh, 0px) !important;
                     max-height: 25vh;
                     overflow-y: scroll;
                  }
                  button {
                     // font-size: .8em;
                     padding: 0.5vw 0;
                  }
               }

               .submit {
                  margin: 0;
                  border-radius: 5px;
                  padding: 3% 15%;
               }

               #input-save-feedback {
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  opacity: 0;
                  text-align: center;
                  bottom: -80%;
                  height: 100%;
                  width: 100%;
                  padding: 5%;

                  img {
                     width: 10%;
                     max-width: 20px;
                     margin: 5% auto;
                  }
               }
            }
         }
      }

      #form-footer {
         position: absolute;
         display: flex;
         bottom: 0%;
         flex-wrap: wrap;
         flex-flow: wrap;
         font-size: 0.7em;
         padding: 5% 10% 0 0;
         bottom: 9%;

         > div {
            width: 100%;
         }

         #form-footer-separator {
            border-top: dotted 1px #b2b2b2;
            padding-bottom: 20px;
            width: 50%;
         }

         #form-footer-text {
            color: #a8afb9;
         }
      }

      .form-item {
         padding: 1%;

         .active-switch.clearfix {
            margin: 0;
            i {
               float: left;
               margin-top: 1.5%;
            }
            .switch {
               margin: 0;
            }
         }

         .btn-group {
            width: 100%;
            .dropdown-toggle {
               width: 100%;
            }
         }
      }
      #save-btn {
         margin: 5%;
         button {
            margin: 0;
         }
      }
   }

   .container {
      z-index: 2;
      padding-left: 20px;
      padding-right: 20px;
      .placement-inner {
         width: 45vw;
         position: absolute;
         right: 0;
      }
   }

   #nothing-to-see {
      width: 20vw;
      position: absolute;
      right: 25%;
      // height: 30vw;
      top: 45vh;
      text-align: center;

      #arrow {
         position: absolute;
         width: 15vw;
         left: -15vw;
         top: -10vh;
      }

      #monkey {
         width: 17%;
      }

      h2 {
         color: #888888;
         font-size: 0.9em;
      }

      h3 {
         font-size: 0.8em;
      }
   }

   canvas {
      position: absolute;
      top: 0;
   }

   #controls {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 3%;
      color: #fff;
      text-align: center;
      h5 {
         font-size: 0.7em;
      }
   }
}

/******************************************************/
/*******************VALIDATION*************************/
/******************************************************/

#validation {
   .container {
      padding: 0 $sidesPadding;
   }
   // width: 100%;
   // height: 100%;
   // background-color: #fff;
   // padding-top: 1%;
   // padding-bottom: 5%;

   // >div.container {
   //   overflow: auto;
   //   height: 100%;
   //   padding: 0;
   // }
}

/******************************************************/
/*******************CONGRATULATIONS********************/
/******************************************************/

#congratulations {
   .container {
      padding: 0 $sidesPadding;
   }
}

/******************************************************/
/**********************REPORT**************************/
/******************************************************/

.table-bordered td,
.table-bordered th {
   border: 1px solid #dee4e8;
}
.reportTable {
   thead {
      th {
         background-color: #e2e0e0;
         color: #b6b6b6;
         text-align: center;

         &:first-child {
            padding: 0.75rem 0;
         }
      }
   }

   tbody {
      tr {
         td {
            text-align: center;
            position: relative;
            &:first-child {
               padding: 0.75rem 0;
               font-weight: bold;
            }

            &:not(:first-child) {
               color: black !important;
            }
         }
      }
   }

   span {
      position: absolute;
      right: 3%;
      font-size: 0.7em;
   }

   span.pos {
      color: #0ccc06;
   }

   span.neg {
      color: red;
   }

   span.neut {
      color: #b6b6b6;
   }
}

#report {
   > span {
      position: absolute;
      width: 76%;
      right: 0;
      // padding: 3%;
      background: transparent;
   }

   .panel {
      position: fixed;
      height: 100vh;
      padding-top: 8%;
      top: 0;
      z-index: 1;
      width: 25% !important;
      min-width: 180px;
   }

   .dropdown-menu.show {
      transform: translate3d(0, 18.5%, 0px) !important;
      max-height: 200px;
      overflow-y: scroll;

      > a {
         color: #5eb4ed;
      }
   }

   .WebGLScene {
      canvas {
         top: 10%;
      }
   }

   #report-selectedAppsDisplay {
      max-height: 17vh;
      overflow-y: scroll;
      overflow-y: auto;
      margin-top: 5%;

      .report-selectedApp {
         padding: 2% 0;
         display: flex;
         > div {
            &:first-child {
               width: 95%;
            }
            &:last-child {
               color: red;
               &:hover {
                  cursor: pointer;
               }
            }
         }
      }
   }

   .menu-panel {
      .list-group {
         margin: 0 -16%;
         border-radius: 0;

         > a {
            border-radius: 0;
            padding: 5% 12%;
            border: none;
            &:visited {
               color: black !important;
            }
            &::after {
               content: "";
               position: absolute;
               border-top: 7px solid transparent;
               border-bottom: 7px solid transparent;
               border-left: 7px solid black;
               right: 15%;
            }
         }

         > a.active {
            background-color: #efefef;
            color: black !important;
            border: none;
            z-index: 0;
         }
      }

      .btn-group {
         padding-top: 5%;
      }

      #dates {
         display: flex;
         flex-flow: column;

         > div {
            padding-top: 5%;
         }

         a {
            font-size: calc(0.45em + 0.3vw);
            z-index: 0;
         }

         #range {
            display: flex;
            flex-flow: row;
            z-index: 2;
            > div {
               // padding: 5%;
               padding-left: 0;
               width: 70%;

               input {
                  width: 100%;
                  background-color: #f2f2f2;
                  color: #888888;
                  border: 0;
                  border-radius: 2px;
                  padding: 7% 10%;
               }

               &:nth-child(2) {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: calc(0.45em + 0.3vw);
                  width: 20%;
               }
            }
         }

         #quickFilters {
            > a {
               padding: 5%;
               padding-left: 0;
               &:hover {
                  color: black !important;
               }
            }
         }
      }
   }

   .report-title {
      padding: 2% 10%;
      background-color: #e2e0e0;
      display: flex;
      align-items: center;
      max-height: 50px;
      h5 {
         color: #b6b6b6;
      }
   }

   #overview {
      display: flex;
      flex-flow: column;
      background-color: #f2f2f2;
      padding: 4%;

      h6 {
         padding: 3% 0;
         font-size: 0.7rem;
         color: black;
      }

      > div {
         width: 100%;
      }

      .question-icon {
         position: absolute;
         right: 2vw;
         top: 30%;
         width: unset !important;
         font-size: 1rem;
         &:hover {
            cursor: help;
         }
      }

      #overview-top {
         display: flex;
         flex-flow: row;

         > div {
            width: 50%;
         }

         #overview-topLine {
            display: flex;
            flex-flow: column;
            padding-right: 1%;

            > div {
               width: 100%;

               &:last-child {
                  display: flex;
                  flex-flow: row;
                  padding: 3%;
                  padding-left: 0;
                  padding-top: 5%;

                  > div {
                     width: 50%;
                     padding: 3%;
                     padding-left: 0;

                     // boxes
                     &:first-child {
                        > div {
                           position: relative;
                           padding: 10%;
                           margin: 6% 2%;
                           margin-left: 0;
                           background-color: #fff;
                           text-align: center;

                           > div {
                              position: absolute;
                              top: 55%;
                           }
                        }
                     }

                     &:last-child {
                        padding-left: 3%;
                        > div {
                           position: relative;
                           padding: 5%;
                        }
                     }
                  }
               }
            }
         }

         #overview-plot {
            padding-left: 1%;
            #graph {
               padding-top: 1%;
               margin-top: 1%;
            }
         }
      }
   }

   #performance {
      .btn-group {
         margin: auto;
         display: block;
         width: 100%;
         // padding: 2% 0 5%;
         text-align: center;
         margin-bottom: 4%;

         .btn {
            background-color: white;
            height: 35px;
         }

         .dropdown-title {
            max-width: 135px;
            min-width: 70%;
            font-size: 0.7em;
            height: 35px;
         }

         .dropdown-menu.show {
            // transform: translate3d(-25%, 45px, 16px) !important;
            transform: translate3d(0, 95%, 0) !important;
         }
      }

      #performance-graphs {
         display: flex;
         flex-flow: row;
         justify-content: space-evenly;
         padding: 4% 2% 0 4%;
         background-color: #f2f2f2;

         canvas {
            // padding: 0 15% 15%;
            margin-top: 5%;
            height: 125px !important;
            width: 250px !important;
         }

         .report-title {
            margin-bottom: 4%;
            height: 35px;
            display: flex;
            align-items: center;
         }

         > div {
            &:nth-child(2n-1) {
               min-width: 200px;
               width: 30%;
            }

            span {
               padding: 0 10%;
            }

            .arrowRight {
               &::after {
                  border-width: 20px;
                  border-left-color: #e2e0e0;
               }
            }
         }
      }

      #performance-webgl {
         min-height: 60vh;
         position: relative;
         background-color: #f2f2f2;

         > div {
            position: absolute;
            height: 100%;
            width: 6vw;
         }

         #performance-webgl-left-bar {
            background-color: #f2f2f2;
            left: 0;
         }

         #performance-webgl-right-bar {
            right: 0;
            background-color: #f2f2f2;
         }

         #performance-webgl-choose {
            width: 100%;
            height: 10%;
            text-align: center;
            background-color: #f2f2f2;
         }
      }

      #performance-tables {
         background-color: #f2f2f2;
         padding: 0 4%;
         padding-top: 5%;
         min-height: 80vh;
      }
   }
}

/******************************************************/
/**********************PROFILE*************************/
/******************************************************/

#profile {
   .container {
      padding: 0 3%;
      margin: 0 auto;

      > div {
         display: flex;
         flex-flow: row;
         padding: 0.5% 0;

         > div {
            &:first-child() {
               display: flex;
               align-items: center;
               width: 20vw;
               color: #000000;
            }

            &:last-child() {
               padding-left: 45px;
            }

            .form-group {
               display: flex;
               margin: 0;
               position: relative;

               input {
                  width: 250px;
               }

               .text-help {
                  position: absolute;
                  bottom: -35%;
                  font-size: 0.8em;
                  color: red;
               }
            }
         }
      }
   }
}

/******************************************************/
/**************CUSTOM TOGGLE BUTTON********************/
/******************************************************/

$ballSize: 20px;

.toggleBtn {
   *,
   *:before,
   *:after {
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
   }
   .toggles {
      width: 40px;
      // margin: 50px auto;
      text-align: center;
   }
   .ios-toggle,
   .ios-toggle:active {
      position: absolute;
      top: -5000px;
      height: 0;
      width: 0;
      opacity: 0;
      border: none;
      outline: none;
   }
   .checkbox-label {
      display: block;
      position: relative;
      padding: 10px;
      // margin-bottom: 20px;
      font-size: 12px;
      line-height: 16px;
      width: 100%;
      height: $ballSize;
      /*border-radius*/
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      border-radius: 18px;
      background: #f8f8f8;
      margin: 0;
      cursor: pointer;
   }
   .checkbox-label:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      line-height: 34px;
      text-indent: 40px;
      height: $ballSize;
      width: $ballSize;
      /*border-radius*/
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      top: 0px;
      left: 0px;
      right: auto;
      background: white;
      /*box-shadow*/
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
      -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
   }
   .checkbox-label:after {
      content: attr(data-off);
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: -300px;
      padding: 0 10px;
      height: 100%;
      width: 300px;
      text-align: right;
      color: #bfbfbf;
      white-space: nowrap;
   }
   .ios-toggle:checked + .checkbox-label {
      /*box-shadow*/
      -webkit-box-shadow: inset 0 0 0 20px $blueAdmix, 0 0 0 2px $blueAdmix;
      -moz-box-shadow: inset 0 0 0 20px $blueAdmix, 0 0 0 2px $blueAdmix;
      box-shadow: inset 0 0 0 20px $blueAdmix, 0 0 0 2px $blueAdmix;
   }
   .ios-toggle:checked + .checkbox-label:before {
      left: calc(100% - 20px);
      /*box-shadow*/
      -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
   }
   .ios-toggle:checked + .checkbox-label:after {
      content: attr(data-on);
      left: 40px;
      width: 36px;
   }

   #checkbox1 + .checkbox-label {
      /*box-shadow*/
      -webkit-box-shadow: inset 0 0 0 0px $blueAdmix, 0 0 0 2px #dddddd;
      -moz-box-shadow: inset 0 0 0 0px $blueAdmix, 0 0 0 2px #dddddd;
      box-shadow: inset 0 0 0 0px $blueAdmix, 0 0 0 2px #dddddd;
   }
   #checkbox1:checked + .checkbox-label {
      /*box-shadow*/
      -webkit-box-shadow: inset 0 0 0 18px $blueAdmix, 0 0 0 2px $blueAdmix;
      -moz-box-shadow: inset 0 0 0 18px $blueAdmix, 0 0 0 2px $blueAdmix;
      box-shadow: inset 0 0 0 18px $blueAdmix, 0 0 0 2px $blueAdmix;
   }
   #checkbox1:checked + .checkbox-label:after {
      color: rgba(19, 191, 17, 1);
   }
}
